
*.vsidx
*.exe
Salvador_de_Senhas/.vs/Salvador_de_Senhas/v17/.suo
Salvador_de_Senhas/bin/Debug/Salvador_de_Senhas.exe.config
Salvador_de_Senhas/obj/Debug/Salvador_de_Senhas.csproj.CoreCompileInputs.cache
Salvador_de_Senhas/bin/Debug/Salvador_de_Senhas.pdb
Salvador_de_Senhas/obj/Debug/Salvador_de_Senhas.csproj.FileListAbsolute.txt
Salvador_de_Senhas/obj/Debug/Salvador_de_Senhas.csproj.GenerateResource.cache
Salvador_de_Senhas/obj/Debug/Salvador_de_Senhas.pdb
Salvador_de_Senhas/obj/Debug/Salvador_de_Senhas.Properties.Resources.resources
Salvador_de_Senhas/.vs/Salvador_de_Senhas/v17/.suo
Salvador_de_Senhas/bin/Release/Salvador_de_Senhas.exe.config
Salvador_de_Senhas/bin/Release/Salvador_de_Senhas.pdb
Salvador_de_Senhas/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Salvador_de_Senhas/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Salvador_de_Senhas/obj/Release/Salvador_de_Senhas.csproj.AssemblyReference.cache
Salvador_de_Senhas/obj/Release/Salvador_de_Senhas.csproj.CoreCompileInputs.cache
Salvador_de_Senhas/obj/Release/Salvador_de_Senhas.csproj.FileListAbsolute.txt
Salvador_de_Senhas/obj/Release/Salvador_de_Senhas.csproj.GenerateResource.cache
Salvador_de_Senhas/obj/Release/Salvador_de_Senhas.pdb
Salvador_de_Senhas/obj/Release/Salvador_de_Senhas.Properties.Resources.resources
Salvador_de_Senhas/bin/Debug/BouncyCastle.Cryptography.dll
Salvador_de_Senhas/bin/Debug/BouncyCastle.Cryptography.xml
Salvador_de_Senhas/bin/Debug/Google.Protobuf.dll
Salvador_de_Senhas/bin/Debug/Google.Protobuf.pdb
Salvador_de_Senhas/bin/Debug/K4os.Compression.LZ4.dll
Salvador_de_Senhas/bin/Debug/K4os.Compression.LZ4.Streams.xml
Salvador_de_Senhas/bin/Debug/Google.Protobuf.xml
Salvador_de_Senhas/bin/Debug/K4os.Compression.LZ4.Streams.dll
Salvador_de_Senhas/bin/Debug/K4os.Compression.LZ4.xml
Salvador_de_Senhas/bin/Debug/K4os.Hash.xxHash.xml
Salvador_de_Senhas/bin/Debug/K4os.Hash.xxHash.dll
Salvador_de_Senhas/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
Salvador_de_Senhas/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
Salvador_de_Senhas/bin/Debug/MySql.Data.dll
Salvador_de_Senhas/bin/Debug/MySql.Data.xml
Salvador_de_Senhas/bin/Debug/System.Buffers.xml
Salvador_de_Senhas/bin/Debug/System.Buffers.dll
Salvador_de_Senhas/bin/Debug/System.Configuration.ConfigurationManager.dll
Salvador_de_Senhas/bin/Debug/System.Diagnostics.DiagnosticSource.dll
Salvador_de_Senhas/bin/Debug/System.Diagnostics.DiagnosticSource.xml
Salvador_de_Senhas/bin/Debug/System.IO.Pipelines.xml
Salvador_de_Senhas/bin/Debug/System.IO.Pipelines.dll
Salvador_de_Senhas/bin/Debug/System.Memory.dll
Salvador_de_Senhas/bin/Debug/System.Memory.xml
Salvador_de_Senhas/bin/Debug/System.Numerics.Vectors.dll
Salvador_de_Senhas/bin/Debug/System.Numerics.Vectors.xml
Salvador_de_Senhas/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
Salvador_de_Senhas/bin/Debug/System.Threading.Tasks.Extensions.dll
Salvador_de_Senhas/bin/Debug/ZstdSharp.dll
Salvador_de_Senhas/bin/Debug/System.Threading.Tasks.Extensions.xml
Salvador_de_Senhas/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
